blockquote {
	font-size: 14px;
	text-align: justify;
}

.home .home-desc p {
	text-align: justify;
}

.home .home-footer {
	margin-top: 10%;
	margin-bottom: 5%;
	text-align: center;
}

.partner-logo {
	padding: 10px;
}

.l18n-flag {
	width: 15px;
	border: 1px solid;
}

.embedded-iframe {
	position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 51%;
}

.embedded-iframe iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0; top: 0;
}

.embedded-slides {
	width: 100%;
	margin: 20px 0 20px 0;
}

ul {
	padding-left: 15px;
}

.bold {
	font-weight: bold;
}

.btn-social-icon {
	border-color: rgba(0,0,0,0.2);
	color: white;
	cursor: pointer;
	display: inline-block;
	font-family: FontAwesome;
	font-size: 25px;
	height: auto;
	line-height: initial;
	text-align: center;
	white-space: nowrap;
	box-sizing: border-box;
	padding: 5px;
	margin: 0;
}
.btn-social-icon:hover i.fa-twitter {
	color: #4099FF;
}

.btn-social-icon i.fa {
	transition: color 0.28s cubic-bezier(0.4, 0, 0.2, 1);
}

#main-wrapper {
	margin: auto;
	background-color: white;
	max-width: 1000px;
	box-shadow: 0 0 8px rgba(0,0,0,0.2);
}

#main-logo {
	padding: 15px 15px 15px 40px;
}

#main-logo .site-title {
	font-size: 30px;
}

#main-logo .site-title:hover {
	text-decoration: none;
}

#main-logo a.switch-locale {
	display: block;
	float: right;
	font-size: 14px;
	height: 30px;
	line-height: 45px;
}
#main-logo a.switch-locale:hover {
	text-decoration: none;
}
#main-logo a.switch-locale:hover span {
	text-decoration: underline;
}

#main-logo .switch-locale span {
	padding: 2px;
	vertical-align: middle;
}


.content-wrapper {
	padding: 0px 15px 10px 40px;
	min-height: 400px;
}

#sidebar {
	float: right;
	width: 30%;
}
#content {
	width: 64%;
	float: left;
}

.navbar {
	padding-left: 10px;
}
.navbar .navbar-form {
	margin: 0;
	height: 60px;
	display: block;
	line-height: 60px;
	padding: 0;
}

.site-footer {
	box-shadow: 0 -2px 2px rgba(0,0,0,0.1);
	padding: 0 30px;
	height: 50px;
	line-height: 50px;
	background: #444444;
	background-image: -ms-linear-gradient(top, #5F5F5F 0%, #444444 100%);
	background-image: -moz-linear-gradient(top, #5F5F5F 0%, #444444 100%);
	background-image: -o-linear-gradient(top, #5F5F5F 0%, #444444 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #5F5F5F), color-stop(1, #444444));
	background-image: -webkit-linear-gradient(top, #5F5F5F 0%, #444444 100%);
	background-image: linear-gradient(top, #5F5F5F 0%, #444444 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5F5F5F', endColorstr='#444444');
	color: white;
}

.post-list {
	list-style: square inside;
	margin-top: 10px;
	margin-bottom: 30px;
}

.copyright {
	float: right;
	font-size: 12px;
}

.footer-project {
	float: left;
}

.clearfix:before,
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  overflow: hidden;
}
.clearfix:after {
	clear: both;
}
.clearfix {
	zoom: 1; /* IE < 8 */
}

@media screen and (max-width: 1060px) {
	#main-wrapper {
		max-width: 900px;
	}
}

@media screen and (max-width: 960px) {
	#main-wrapper {
		max-width: 708px;
	}
}

@media screen and (max-width: 767px) {
	#main-wrapper {
		max-width: 480px;
	}
	#main-logo {
		padding-right: 25px;
	}
	.content-wrapper {
		padding: 20px;
	}
	#sidebar,
	#content {
		float: none;
		width: auto;
	}
	#sidebar {
		margin-top: 25px;
	}
	.site-footer {
		height: auto;
		line-height: 30px;
		padding: 10px;
	}
	.copyright,
	.footer-project {
		float: none;
	}
	.navbar {
		padding-left: 0;
		margin-bottom: 0;
	}
	.navbar .navbar-brand,
	.navbar li>a,
	#main-logo {
		padding-left: 20px;
	}
}

@media screen and (max-width: 479px) {
}
