---
layout: default
title: SemIoT Project
---

<div class="home">

  <div class="home-desc">
    <p>SemIoT (Semantic Tecnologies for Internet of Things) - a project of applied research and experimental developments, aiming to solve the problem of achiving <a href="#interoperability">interoperability</a> of systems, applications and devices in Internet of Things.</p>

    <iframe class="embedded-slides" src="https://www.slideshare.net/slideshow/embed_code/key/7BglNwstjoLR3X" width="100%" height="400" frameborder="0" marginwidth="0" marginheight="0" scrolling="no"></iframe>

    <blockquote id="interoperability" cite="https://en.wikipedia.org/wiki/Interoperability">
    <b>Interoperability</b> is a property of a product or system, whose interfaces are completely understood, to work with other products or systems, present or future, without any restricted access or implementation.
    </blockquote>
  </div>



  <hr/>
  <h3>News</h3>
  <ul class="post-list">
    {% for post in site.posts %}
    {% if post.lang == 'en' %}
      <li>
        <span class="post-meta">{{ post.date | date: "%d.%m.%Y" }}</span>
        <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
      </li>
    {% endif %}
    {% endfor %}
  </ul>
  <hr/>

  <div class="home-footer">
    <a class="partner-logo" href="http://минобрнауки.рф/static/ministry_eng.html">
      <img src="http://xn--80abucjiibhv9a.xn--p1ai/static/img/banner/square.gif"
          width="100px" alt="Ministry of Education and Science"/>
    </a>
    <a class="partner-logo" href="http://www.mcs.ru/">
      <img src="/resources/mcs.png"
          width="130px" alt='ZAO "Marine computer systems"'/>
    </a>
    <a class="partner-logo" href="http://en.ifmo.ru/">
      <img src="/resources/logo_itmo_en.jpg" width="150px" alt="ITMO University"/>
    </a>
  </div>

</div>
