	<footer class="site-footer">

		<div class="wrapper clearfix">			
			<div class="footer-project">SemIoT - Sematic technologies for the Internet of Things</div>
			<div class="copyright">2014 Copyright SemIoT</div>
		</div>

	</footer>
</div>
<script src="{{ "/js/jquery-1.11.1.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/bootstrap.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/material.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/ripples.min.js" | prepend: site.baseurl }}"></script>
<script>
	$.material.init();
</script>