{% assign current = page.url | downcase | split: '/' | last %}
{% capture locale %}{{ page.url | truncate: 3, "" | remove: "/"  }}{% endcapture %}

{% unless site.authorized_locales contains locale %}
{% assign locale = site.default_locale %}
{% endunless %}

<header class="site-header">
	<div class="wrapper">
		<div id="main-logo">
			<a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>
			<a href="{{ site.data.locales[locale].switch_lang_url }}{{ current }}" class="switch-locale">
				<img class="l18n-flag" src="{{ site.data.locales[locale].switch_lang_img }}" alt="{{ site.data.locales[locale].switch_lang_message }}"/>
				<span>{{ site.data.locales[locale].switch_lang_message }}</span>
			</a> 
		</div>		

		<div class="navbar navbar-default">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</div>
			<div class="navbar-collapse collapse navbar-responsive-collapse">
				<ul class="nav navbar-nav">
					{% for link in site.data.locales[locale].nav %}
						{% if link.children != null %}
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{{ link.text }} <span class="caret"></span></a>
								<ul class="dropdown-menu" role="menu">
									{% for child in link.children %}
										<li{% if page.url == child.url %} class="active"{% endif %}>
											<a href="{{ child.url }}">{{ child.text }}</a>
										</li>
									{% endfor %}
								</ul>
							</li>
						{% else %}						
							<li{% if page.url == link.url %} class="active"{% endif %}>
								<a href="{{ link.url }}">{{ link.text }}</a>
							</li>							
						{% endif %}
					{% endfor %}
				</ul>
				<form class="navbar-form navbar-right">
					<input type="text" class="form-control col-lg-8" placeholder="{{ site.data.locales[locale].search_message }}">
				</form>
			</div>
		</div>
	</div>
</header>
