<div class="panel panel-primary">
	<div class="panel-heading">
		<h3 class="panel-title">Краткая справка</h3>
	</div>
	<div class="panel-body">
		<dl>
			<dt>Шифр заявки:</dt>
			<dd>
				<a href="http://fcpir.ru/participation_in_program/contests/list_of_contests/demands/2014-14-576-0149/contract/">
					2014-14-576-0149-028
				</a>
			</dd>
			<dt>Дата начала и окончания работ:</dt>
			<dd>24.11.2014 - 30.12.2016</dd>
			<dt>Бюджетное финансирование:</dt>
			<dd>₽11.76 млн.</dd>
			<dt>Внебюджетное финансирование:</dt>
			<dd>₽2.94 млн. (20% от общего)</dd>
			<dt>Индустриальный партнер:</dt>
			<dd>ЗАО "МКС"</dd>
		</dl>
	</div>
</div>
