<div class="panel panel-primary">
	<div class="panel-heading">
		<h3 class="panel-title"><i class="fa fa-info-circle"></i> Quick facts</h3>
	</div>
	<div class="panel-body">
		<dl>
			<dt>Application code:</dt>
			<dd>
				<a href="http://fcpir.ru/participation_in_program/contests/list_of_contests/demands/2014-14-576-0149/contract/">
					2014-14-576-0149-028
				</a>
			</dd>
			<dt>Start and end dates:</dt>
			<dd>24.11.2014 - 31.12.2016</dd>
			<dt>Government funding:</dt>
			<dd><i class="fa fa-rouble"></i> 11.76M</dd>
			<dt>Industrial funding:</dt>
			<dd><i class="fa fa-rouble"></i> 2.94M (20% of total)</dd>
			<dt>Industrial partner:</dt>
			<dd>ZAO "MCS"</dd>
		</dl>
	</div>
</div>
